$OrangeColor: #ff8c2a;
$BlackColor: #1C1C1C;
$GrayColor: #444343;
$PoppinsStyle: (
    "Black",
    "Bold",
    "ExtraBold",
    "ExtraLight",
    "Light",
    "Medium",
    "Regular",
    "SemiBold",
    "Thin",
);
$MulishStyle: (
    "Black",
    "Bold",
    "ExtraBold",
    "ExtraLight",
    "Light",
    "Medium",
    "Regular",
    "SemiBold",
);
@include font-face(Poppins, Poppins, $PoppinsStyle);
@include font-face(Mulish, Mulish, $MulishStyle);