@import "./misc/mixin.scss";
@import "./misc/basic.scss";

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: #fbfbfb;
}

.popup-holder {
    background: black;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__info {
        @include Font("RalewayBold", null, .8rem, null);
        color: white;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }
}

.logo-holder {
    min-height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        @include Font("RalewayBlack", null, 2.5rem, null);
        text-align: center;
        margin: 0;

        &--sub {
            @include Font("RalewayBold", null, 1.2rem, null);
        }
    }
}

.navigation {
    background: #1C1C1C;
    height: 60px;

    .navigation-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;

        &__item {
            @include Font(RalewayBold, normal, .75rem, null);
            list-style-type: none;
            margin: 0 20px;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

.img-holder {
    width: 100%;
    min-height: 600px;
    background: blue;
    @include Background("../img/main.jpg", (center, 50%), cover, no-repeat);
    position: relative;

    .carousel-wrapper {
        overflow: hidden;
        width: 100%;

        .carousel-items {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        &__carousel {
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            @include Transition((transform: .5s, opacity: .5s), null, null, ease-in-out);

            &--active,
            &--inital {
                opacity: 1;
                position: relative;
            }

            &--prev {
                transform: translateX(-100%);
            }

            &--next {
                transform: translateX(100%);
            }
        }

        .arrow {
            position: absolute;
            top: 50%;
            background: blue;
            cursor: pointer;
            width: 3rem;
            height: 3rem;

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }
    }
}