@import "./misc/mixin.scss";
@import "./misc/basic.scss";

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: #fbfbfb;
}

.anchor {
    color: black;
    text-decoration: none;

    &--navigation {
        @include Font("PoppinsMedium", normal, .75rem, null);
        color: white;
        text-transform: uppercase;
        padding: 20px 0;
    }
}

.fixed-contact {
    width: 210px;
    height: 38px;
    background: $GrayColor;
    position: fixed;
    top: 50px;
    right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 999;
    justify-content: space-around;
    border-right: 3px solid orange;
    border-radius: 4px;

    &__telephone {
        @include Font('MulishBold', null, .8rem, null);
        color: white;
        letter-spacing: .1rem;
    }

    &__icon {
        fill: white;
    }
}

.popup-holder {
    background: $OrangeColor;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__info {
        @include Font("RalewayBold", null, .8rem, null);
        color: white;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }
}

.logo-holder {
    min-height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        @include Font("RalewayBlack", null, 2.5rem, null);
        text-align: center;
        margin: 0;

        &--sub {
            @include Font("RalewayBold", null, 1.2rem, null);
        }
    }
}

.navigation {
    background: $BlackColor;
    height: 60px;

    .navigation-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;

        &__item {
            list-style-type: none;
            margin: 0 20px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include Transition(transform, .2s, null, ease-in-out);

            &:hover {
                @include Transform("center", scale(1.1) perspective(0px) translateZ(0px));
                @include Transition(transform, .1s, null, ease-in-out);
                -webkit-font-smooting: subpixel-antialiased;
            }

            &:hover::after {
                width: 100%;
                @include Transition(width, .2s, null, ease-in-out);
            }

            &::after {
                @include Pseudo("", block, 0%, 2px);
                @include Transition(width, .2s, null, ease-in-out);
                position: absolute;
                background: $OrangeColor;
                bottom: 14px;
            }
        }
    }
}

.img-holder {
    width: 100%;
    height: 600px;
    background: $BlackColor;
    position: relative;

    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
        height: inherit;

        .carousel-items {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            height: inherit;

            &__item {
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
                height: inherit;
                @include Transition((transform: .5s, opacity: 1s), null, null, ease-in-out);

                .carousel-image {
                    height: inherit;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                }

                .carousel-text {
                    position: relative;
                    margin: 0;
                    background: rgba(0,0,0,0.7);
                    color: white;
                    @include Font("MulishMedium", null, 1.5rem, null);
                    letter-spacing: .1rem;
                    width: fit-content;
                    max-width: 50%;
                    padding: 10px;
                    left: 10vw;
                    top: 20%;
                    line-height: 2.5rem;
                    box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, .45);
                }

                .carousel-button {
                    position: relative;
                    width: 250px;
                    height: 40px;
                    left: 10vw;
                    top: 21%;

                    a {
                        color: white;
                        @include Font("MulishBlack", null, .7rem, null);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $OrangeColor;
                        position: relative;
                        z-index: 1;
                        letter-spacing: .4rem;
                        border-radius: 0 0 5px 5px;
                        overflow: hidden;
                        @include Transition(color, .3s, null, ease-in-out);

                        &::after {
                            @include Pseudo("", block, 100%, 0);
                            background: $BlackColor;
                            position: absolute;
                            z-index: -1;
                            bottom: 0;
                            @include Transition(height, .3s, null, ease-in-out);
                        }

                        &:hover {
                            color: $OrangeColor;
                            @include Transition(color, .3s, null, ease-in-out);
                        }

                        &:hover::after {
                            height: 100%;
                            @include Transition(height, .3s, null, ease-in-out);
                        }
                    }
                }

                &--active {
                    opacity: 1;
                    position: relative;
                }

                &--prev {
                    transform: translateX(-100%);
                }

                &--next {
                    transform: translateX(100%);
                }
            }
        }

        .arrow {
            position: absolute;
            width: 2rem;
            height: 4rem;
            display: inline-block;
            cursor: pointer;
            top: calc(50% - 2rem);

            &--next,
            &--prev {
                &::after,
                &::before {
                    @include Pseudo("", block, 116%, 4%);
                    position: absolute;
                    background: white;
                    border-radius: .2rem;
                    left: -5%;
                    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
                    @include Transition(background, .4s, null, ease-in-out);
                }

                &:hover {
                    &::after,
                    &::before {
                        background: $OrangeColor;
                        @include Transition(background, .4s, null, ease-in-out);
                    }
                }

                &::before {
                    top: 71%;
                }

                &::after {
                    bottom: 65%;
                }
            }

            &--prev {
                left: 40px;

                &::after {
                    transform: rotate(-45deg);
                }

                &::before {
                    transform: rotate(45deg);
                }
            }

            &--next {
                right: 40px;

                &::after {
                    transform: rotate(45deg);
                }

                &::before {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}